__pycache__/
*.py[cod]
*$py.class

# C extensions
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

*.env
venv/
