<!DOCTYPE html>
<html>
<head>
 <title>Home</title>
</head>
<body>
 <h1>Welcome to the home page!</h1>
 <p>You are logged in.</p>
 <p>Click the button below to access some of your GridDB Data</p>
 <form action="/data" method="GET">
  <button type="submit">Show Data (device2)</button>
 </form>
</body>
</html>