<!DOCTYPE html>
<html>
<head>
    <title>Sign In Page</title>
</head>
<body>
    <h1>Sign In</h1>
    {{ if .Message }}
        <p>{{ .Message }}</p>
    {{ end }}
    <form action="/signIn" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Sign In">
        </div>
    </form>
</body>
</html>