<footer class="footer mt-auto py-3" style="background-color: #171280;" th:fragment="footer">
    <!-- <div class="container-fluid footer px-4"> -->
    <div class="container">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-white">Copyright &copy; Your Website <b th:text="${#dates.year(#dates.createNow())}"></b>
            </div>
            <div>
                <a href="#" class="text-white">Privacy Policy</a>
                &middot;
                <a href="#" class="text-white">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>