<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Text Snippets</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        .badge {
            margin-left: -10px;
            background-color: #E91E63 !important;
        }
        .spacer {
            padding-top: 40px;
            padding-bottom: 40px
        }
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
    </style>
</head>

<body class="d-flex flex-column h-100 min-vh-100" style="padding-top: 70px;">
    <div th:replace="~{fragments/header :: header}"></div>
    
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <!-- <div class="container-fluid" style="max-width: 900px; margin: 0 auto;"> -->
            
            <div th:if="${message != null}"
                class="alert alert-success alert-dismissible fade show text-center message js-alert" role="alert">
                [[${message}]]
                <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="my-3">
                <h2 class="text-center">Snippets</h2>
                </p>            
            </div>
            <div th:if="${snippets.size() > 0}" class="container">
                <table class="table table-hover table-responsive-xl table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Created Time</th>
                            <th scope="col">Size</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="snippet : ${snippets}">
                            <td>
                                <a class="small" th:href="@{/snippets/{id}(id=${snippet.id})}" th:text="${snippet.title}"></a>
                            </td>
                            <th id="timeAgo" scope="row">[[${snippet.timeAgo}]]</th>
                            <th id="contentSizeHumanReadable" scope="row">[[${snippet.contentSizeHumanReadable}]]</th>                        
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:unless="${snippets.size() > 0}">
                <span>No snippets found!</span>
            </div>

        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script type="text/javascript">
        if (document.querySelector('.js-alert')) {
            document.querySelectorAll('.js-alert').forEach(function ($el) {
                setTimeout(() => {
                    $el.classList.remove('show');
                }, 2000);
            });
        }
    </script>

</body>

</html>