<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Users</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        .badge {
            margin-left: -10px;
            background-color: #E91E63 !important;
        }

        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
    </style>
</head>

<body class="d-flex flex-column h-100 min-vh-100" style="padding-top: 70px;">
    <div th:replace="~{fragments/header :: header}"></div>

    <main role="main" class="flex-shrink-0">
        <div class="container">
            
            <div th:if="${message != null}"
                class="alert alert-success alert-dismissible fade show text-center message js-alert" role="alert">
                [[${message}]]
                <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="my-3">
                <h2 class="text-center">Users</h2>
            </div>
    
            <div th:if="${users.size() > 0}">
                <table class="table table-hover table-responsive-xl">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <th scope="row">[[${user.email}]]</th>
                            <th scope="row">[[${user.fullName}]]</th>                     
                            <td>[[${user.createdAt}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div th:unless="${users.size() > 0}">
                <span>No users found!</span>
            </div>
    
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script type="text/javascript">
        if (document.querySelector('.js-alert')) {
            document.querySelectorAll('.js-alert').forEach(function ($el) {
                setTimeout(() => {
                    $el.classList.remove('show');
                }, 2000);
            });
        }
    </script>

</body>

</html>