<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <style>
        .badge {
            margin-left: -10px;
            background-color: #E91E63 !important;
        }
    </style>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
        <h2 class="text-center">Dashboard</h2>

        <div class="card mb-4">
            <div class="card-body">
                Chart
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Votes Count by Time
            </div>
            <div style="height:auto; width: 800px;"><canvas id="charts"></canvas>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        Chart.register(ChartDataLabels);
        const ctx = document.getElementById('charts');

        const data = /*[[${aggregates}]]*/[
            { label: "2023-07-01 10:01:01", count: 10 },
            { label: "2023-07-01 11:01:01", count: 25 }
        ];

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.map(row => row.label),
                datasets: [{
                    label: 'Votes by Time',
                    data: data.map(row => row.count),
                    borderWidth: 1,
                    pointStyle: 'circle',
                    pointRadius: 10,
                    pointHoverRadius: 15
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        color: 'white',
                        font: {
                            weight: 'bold'
                        }
                    }
                }
            }
        });

    </script>

</body>

</html>