<!DOCTYPE html>
<html>
<head>
<style>
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input {
  margin: 0.4rem;
}
</style>
 <title>Home</title>
</head>
<body>
 <h1>Welcome to the home page!</h1>
 <p>You are logged in.</p>
 <p>Click the button below to access some of your GridDB Data</p>
 <form action="/data" method="GET">
  <button type="submit">Show Data (device2)</button>
 </form>

<br /><br /><br />

 <h3> Select your level of clearance </h3>
 <form action="/getToken" method="post">
  <fieldset>
    <legend>JSON Web Token Choices</legend>

    <label for="Owner">Expiration in Days</label> 
    <input type="number" id="expiration" name="expiration" min="1" max="365" />
    </br>

    <label for="Owner">Token Name</label> 
    <input type="text" id="name" name="name" required />
    </br>

    <input type="checkbox" id="role" name="basic" value="true" />
    <label for="basic">Basic</label><br />

    <input type="checkbox" id="advisor" name="advisor" value="true" />
    <label for="advisor">Advisor</label><br />

    <input type="checkbox" id="admin" name="admin" value="true" />
    <label for="admin">Admin</label><br />

    <input type="checkbox" id="owner" name="owner" value="true" />
    <label for="Owner">Owner</label>
  </fieldset>
      <div>
    <button type="submit">Get Token</button>
    </div>
</form>
</body>
</html>