azure-iot-device==2.14.0
certifi==2025.1.31
charset-normalizer==3.4.1
deprecation==2.1.0
docopt==0.6.2
idna==3.10
janus==2.0.0
packaging==24.2
paho-mqtt==1.6.1
pipreqs==0.4.13
PySocks==1.7.1
requests==2.32.3
requests-unixsocket2==0.4.2
typing_extensions==4.12.2
urllib3==2.3.0
yarg==0.1.10
