/* style.css */
body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
	background-color: #121212;
	color: #ffffff;
	height: 100vh;
	margin: 0;
}

#webcam-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	background-color: #1e1e1e;
	padding: 10px;
	border-radius: 8px;
}

#webcam {
	border-radius: 8px;
}

#chatbox {
	height: 480px;
	overflow-y: auto;
	border: 1px solid #333333;
	padding: 10px;
	width: 320px;
	margin-left: 20px;
	background-color: #1e1e1e;
	border-radius: 8px;
}

#capture {
	width: 150px;
	height: 50px;
	margin-top: 20px;
	background-color: #333333;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

#capture:hover {
	background-color: #454545;
}

#chatbox .user-message:nth-child(odd),
#chatbox .assistant-message:nth-child(even) {
	background-color: #2a2a2a;
}

#chatbox .user-message,
#chatbox .assistant-message {
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

#chatbox .timestamp {
	font-size: 0.8em;
	color: #777;
	position: absolute;
	bottom: 5px;
	right: 10px;
}

#content-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	max-width: 1200px;
	margin: 0 auto;
}

@keyframes spin {
	0% {
			transform: rotate(0deg);
		}
100% {
	transform: rotate(360deg);
}
}
.loader {
	border: 6px solid #f3f3f3;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	margin: auto;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #1e1e1e;
	padding: 10px 0;
	color: #ffffff;
}

#switch-camera {
	display: none;
	width: 100%;
	height: 60px;
	margin-top: 10px;
	background-color: #333333;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 20px;
}

@media (max-width: 768px) {
	#switch-camera {
		display: block;
	}

	body {
		flex-direction: column;
		align-items: stretch;
	}

	#content-container {
		flex-direction: column;
		align-items: stretch;
		margin: 0;
	}

	#webcam-container {
		width: 100%;
		margin-right: 0;
		max-height: 50%;
	}

	#webcam {
		width: 100%;
		height: 200px;
	}

	#capture {
		width: 100%;
		height: 60px;
		font-size: 20px;
		margin-top: 10px;
	}

	#chatbox {
		height: 250px;
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}

	#footer {
		position: relative;
		width: 100%;
		padding: 20px 0;
	}
}

#footer a,
#footer a:visited,
#footer a:hover,
#footer a:active {
	color: #ffffff;
	text-decoration: none;
}